/* General Reset and Box Sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; /* Google Font for better typography */
}
<<<<<<< HEAD
=======
.VIpgJd-ZVi9od-l4eHX-hSRGPd {
    display: none !important;
    content-visibility: hidden;
}
.VIpgJd-ZVi9od-aZ2wEe-OiiCO {
    display: none !important;
    visibility: hidden;
    content-visibility: hidden;
}
.goog-te-gadget{
    color:transparent !important;
} 
>>>>>>> 6f6b60044b0ecb09b2260c10d21973360094e958

/* Header Section */
header {
    background: linear-gradient(to right, #0e428f, #56a0f2), url(bac1.gif) no-repeat center center / cover;
    color: #f9f9f9;
    padding: 30px;
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0; /* Adjusted margin */
}

.logo img {
    width: 100px;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-links li {
    margin-right: 30px;
    padding: 10px;
}

.nav-links li a {
    text-decoration: none;
    color: #feffff;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    background-color: #53627578;
    border-radius: 10px;
    font-size: 18px;
    color: #f49884;
}

/* Hero Section */
.hero {
    background-color: #daecf9;
    color: #040404;
    padding: 50px;
    font-size: xx-large;
    text-align: center;
    height: 50vh;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.typewrite > .wrap {
    border-right: 0.08em solid #fff;
    animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #fff; }
}

.hero h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* User Testimonials Section */
.user-testimonials {
    background-color: #f9f9f9;
    padding: 50px;
    width: 50%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 20px auto; /* Centering the element */
}

.user-testimonials h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.user-testimonials ul {
    list-style: none;
}

.user-testimonials li {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.user-testimonial-text {
    font-style: italic;
}

.user-testimonial-author {
    font-weight: bold;
    color: #007bff;
}

/* Feedback Form Section */
.feedback-form {
    background-color: #f9f9f9;
    padding: 80px;
    margin: 20px auto; /* Centering the element */
    width: 80%; /* Adjusting width */
}

.feedback-form h2 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.feedback-form p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input,
textarea {
    width: 100%;
    padding: 15px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #262a2b;
    color: #fff;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Social Media Section */
.social-media,
.content-updates {
    background-color: #f9f9f9;
    padding: 50px;
    width: 80%;
    margin: 20px auto; /* Centering the elements */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.social-media h2,
.content-updates h2 {
    font-size: 2em;
    margin-bottom: 30px;
}

.social-icons {
    display: flex;
    justify-content: center;
    font-size: 2em;
    gap: 20px;
}

.social-icons a {
    transition: font-size 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
    color: #007bff;
    font-size: 2.2em;
}

.social-icons a:active {
    color: #ff3300;
    font-size: 2.2em;
}

.content-updates p {
    font-size: 1.2em;
}

#last-updated-date {
    color: #002aff;
}

/* Translation Guides and FAQ Section */
.translation-guides,
.faq {
    background-color: #f9f9f9;
    padding: 40px;
    width: 80%;
    margin: 20px auto; /* Centering the elements */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.translation-guides h2,
.faq h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
}

.translation-guides ul {
    list-style: none;
}

.translation-guides li {
    font-size: 1.1em;
    margin-bottom: 15px;
}

.translation-guide-link {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.translation-guides li a:hover {
    color: #ff0026;
    font-size: 1.2em;
}

.faq dl {
    font-size: 1.1em;
}

.faq dt.faq-question {
    font-weight: bold;
    color: #010101;
    cursor: pointer;
}

.faq dd.faq-answer {
    display: none;
    font-size: 1.1em;
    margin-left: 0;
    margin-top: 5px;
}

/* Contact Information and Chat Support Section */
.contact-info,
.chat-support {
    background-color: #f9f9f9;
    padding: 40px;
    width: 80%;
    margin: 20px auto; /* Centering the elements */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.contact-info h2,
.chat-support h2 {
    font-size: 2em;
    margin-bottom: 30px;
}

.contact-info p,
.chat-support p {
    font-size: 1.1em;
}

.contact-info span:hover {
    color: #d549ed;
}

/* Footer Section */
footer {
    background-color: #333;
    color: #fff;
    padding: 30px;
    text-align: center;
    font-size: 1em;
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.footer-links li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.footer-links li a:hover {
    color: #007bff;
}
